<section id="main">
    <div class="container-fluid">
          <img src="http://content.asos-media.com/-/media/homepages/unisex/generic-hp/may-2017/generic-hp-summer.jpg" alt="qqqqqqqqq">  
    </div>
    
    <div class="content-wrapper">
        <h1>{{'body.its-asos'| translate}}
            <span class="big-text">{{'header.asos'| translate}}</span>
        </h1>
        <p>{{'body.description'| translate}}</p>

        <div class="btns-wrap clearfix">
            <div class="main-btn-wrapper pull-left">
                <a [routerLink]="['/products', 'women']" class="button">{{'header.women'| translate}}</a>
            </div>
            <div class="main-btn-wrapper pull-right">
                <a [routerLink]="['/products', 'men']" class="button">{{'header.men'| translate}}</a>
            </div>
        </div>
        
    </div>
</section>